*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    border: 1px solid red;
    width: 100%;
    height: 100vh;

    .user-menyu{
        border: inherit;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
    }
}