@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Josefin+Sans:ital,wght@1,500&family=Poppins:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

.section {
  width: 100%;
  height: 100vh;
}
.section .user-menyu {
  border: inherit;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}
.section .user-menyu .user-video-img {
  border: inherit;
  width: 50%;
  height: 720px;
}
.section .user-menyu .user-video-img .gold-block {
  border: inherit;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.section .user-menyu .user-video-img .gold-block .user-port {
  width: 100%;
  height: 120px;
  display: flex;
  overflow-x: scroll;
}
.section .user-menyu .user-video-img .gold-block .user-port .port {
  border: inherit;
  width: 100px;
  height: 120px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 8px;
}
.section .user-menyu .user-video-img .gold-block .user-port .port img {
  cursor: pointer;
  margin: 5px 0;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border-top: 3px solid rgba(223, 50, 85, 0.767);
  border-right: 3px solid rgba(141, 245, 22, 0.8);
  border-bottom: 3px solid rgba(65, 65, 209, 0.8);
  border-left: 3px solid rgba(214, 202, 31, 0.8);
}
.section .user-menyu .user-video-img .gold-block .user-port .port p {
  cursor: pointer;
  font-family: Josefin Sans;
}
.section .user-menyu .user-video-img .posts {
  border: inherit;
  width: 100%;
  height: 600px;
  overflow-x: scroll;
}
.section .user-menyu .user-video-img .posts .post {
  border: 1px solid lightgray;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  height: 605 px;
}
.section .user-menyu .user-video-img .posts .post .img-user-name-menyu {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .user-menyu .user-video-img .posts .post .img-user-name-menyu .img-user-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
.section .user-menyu .user-video-img .posts .post .img-user-name-menyu .img-user-name img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top: 3px solid rgba(223, 50, 85, 0.767);
  border-right: 3px solid rgba(141, 245, 22, 0.8);
  border-bottom: 3px solid rgba(65, 65, 209, 0.8);
  border-left: 3px solid rgba(214, 202, 31, 0.8);
}
.section .user-menyu .user-video-img .posts .post .img-user-name-menyu .img-user-name p {
  margin: 10px;
  font-size: 1.1rem;
  font-family: Acme;
  cursor: pointer;
}
.section .user-menyu .user-video-img .posts .post .img-user-name-menyu .img-user-name p span {
  display: block;
  font-size: 0.9rem;
  font-family: none;
}
.section .user-menyu .user-video-img .posts .post .img-user-name-menyu i {
  font-size: 1.3rem;
  margin: 0 20px;
}
.section .user-menyu .user-video-img .posts .post .file {
  width: 100%;
  height: 350px;
}
.section .user-menyu .user-video-img .posts .post .like-masseg-save {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.section .user-menyu .user-video-img .posts .post .like-masseg-save svg {
  margin: 5px;
}
.section .user-menyu .user-video-img .posts .post .commit {
  padding: 0 10px;
}
.section .user-menyu .user-video-img .posts .post .commit .like-son {
  font-size: 1.2rem;
  font-family: unset;
}
.section .user-menyu .user-video-img .posts .post .commit p {
  display: inline;
}
.section .user-menyu .user-video-img .posts .post .commit p .h6 {
  display: inline-block;
}
.section .user-menyu .user-video-img .posts .post .commit span {
  color: rgb(107, 105, 105);
}
.section .user-menyu .user-video-img .posts .post .commit .sms {
  display: block;
}
.section .user-menyu .user-video-img .posts .post .icons-tupe {
  display: flex;
  justify-content: start;
  align-items: center;
}
.section .user-menyu .user-video-img .posts .post .icons-tupe i {
  font-size: 1.7rem;
  margin: 0 10px;
}
.section .user-menyu .user-video-img .posts .post .icons-tupe input {
  outline: none;
  width: 500px;
  border: none;
}
.section .user-menyu .user-video-img .posts .post .icons-tupe input:-moz-placeholder-shown {
  padding: 0 10px;
  font-family: cursive;
}
.section .user-menyu .user-video-img .posts .post .icons-tupe input:-ms-input-placeholder {
  padding: 0 10px;
  font-family: cursive;
}
.section .user-menyu .user-video-img .posts .post .icons-tupe input:placeholder-shown {
  padding: 0 10px;
  font-family: cursive;
}
.section .user-menyu .user-video-img .posts .post .icons-tupe h6 {
  margin-left: 25px;
  font-size: 1.2rem;
  color: blue;
}
.section .user-menyu .user-profil {
  border: inherit;
  width: 25%;
  height: 610px;
  margin-left: 20px;
}
.section .user-menyu .user-profil .profil {
  border: inherit;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .user-menyu .user-profil .profil img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section .user-menyu .user-profil .profil p {
  margin: 5px 0;
  font-size: 1.2rem;
  font-family: Josefin Sans;
}
.section .user-menyu .user-profil .profil p span {
  display: block;
  font-size: 1rem;
  color: gray;
}
.section .user-menyu .user-profil .profil h5 {
  color: blue;
  margin-left: 10px;
  font-family: Bree Serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.section .user-menyu .user-profil .see-all {
  border: inherit;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .user-menyu .user-profil .see-all h5 {
  color: rgb(110, 110, 110);
  font-family: Bree Serif;
}
.section .user-menyu .user-profil .see-all h6 {
  color: black;
  font-family: Bree Serif;
  cursor: pointer;
}
.section .user-menyu .user-profil .friends {
  border: inherit;
  width: 100%;
  height: 450px;
  margin: 5px 0;
}
.section .user-menyu .user-profil .friends .friend {
  border: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}
.section .user-menyu .user-profil .friends .friend .f-img-name {
  display: flex;
}
.section .user-menyu .user-profil .friends .friend .f-img-name img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid lightgray;
  cursor: pointer;
}
.section .user-menyu .user-profil .friends .friend .f-img-name p {
  font-family: Josefin Sans;
  margin-right: 20px;
  font-size: 1.2rem;
  margin: 0 10px;
}
.section .user-menyu .user-profil .friends .friend .f-img-name p span {
  display: block;
  color: gray;
  font-size: 0.9rem;
}
.section .user-menyu .user-profil .friends .friend h6 {
  margin: 5px;
  font-size: 1.2rem;
  color: blue;
  letter-spacing: 1px;
  font-family: Acme;
  cursor: pointer;
}/*# sourceMappingURL=stayl-menyu.css.map */