*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ::-webkit-scrollbar {
//     width: 0px;
//   }

//   ::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px grey; 
//     border-radius: 10px;
//   }

//   ::-webkit-scrollbar-thumb {
//     background: gray; 
//     border-radius: 10px;
//   }

//   ::-webkit-scrollbar-thumb:hover {
//     background: white; 
//   }

body{
    display: block;
    position: relative;
    // border: 2px solid blue;
}

.navbar{
    border: inherit;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 10;

}

.menyu{
    border: inherit;
    width: 100%;
    height: 84vh;
    position: absolute;
    top: 95px;

}